{% for post in posts.items %}
    <div class="media">
    <div class="media-left">
        <a href="{{ url_for('user_page', username=post.author.username) }}">
        <img class="media-object" src="{{ post.author.avatar_img }}" alt="avatar", width="64">
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading">{{ post.author.username }}</h4>
        <small class="text-muted">{{ post.timestramp }}</small>
        <p>{{ post.body }}</p>
    </div>
    </div>
{% endfor %}